Repository kheiakiyama/install-azcopy-action, changes with the labels that .github/labeler.yml gives for each.
All labels: source, action, tests, gha, documentation

.github/labeler.yml:

source:
  - src/**/*
action:
  - action.yml
tests:
  - __tests__/**/*
gha:
  - .github/workflows/*
documentation:
  - '*.md'

Stop to use publish workflow
  .github/workflows/publish.yml
Labels: gha

Fix publish document
  develop-references.md
Labels: documentation

Revert main
  dist/index.js
  package-lock.json
  package.json
Labels: none

update lock file
  package-lock.json
Labels: none

update to node20
  action.yml
Labels: action

update docs
  develop-references.md
  package-lock.json
Labels: documentation

Typo correction
  README.md
Labels: documentation

:sparkles: feat: set dependabot
  .github/dependabot.yml
Labels: none

:+1: update: os support
  .github/workflows/test.yml
Labels: gha

:+1: update: os support
  README.md
Labels: documentation

:+1: update: reduce os
  .github/workflows/test.yml
  README.md
Labels: gha, documentation

Update to node24
  action.yml
  develop-references.md
Labels: action, documentation

:+1: update: update package
  dist/esprima.js
  dist/index.js
  package-lock.json
Labels: none
